<div>
    <h2>Profilo</h2>
    <img src="assets/profile.jpg" alt="Immagine del profilo" class="profile-image">
    <p><strong>Nome:</strong> Gennaro</p>
    <p><strong>Cognome:</strong> Tella</p>
    <p><strong>Abitazione:</strong>Trani, 76125</p>
    <p><strong>Sesso:</strong> Maschio</p>
    <p><strong>Nazionalità:</strong> Italiana</p>
    <div class="bio">
    <h3>Biografia</h3>
    <p>Sono un ragazzo di 27 anni, prossimo alla laurea in informatica, con una grande passione per la tecnologia e l'innovazione. Amo esplorare il mondo digitale, imparare nuove tecnologie e sviluppare soluzioni creative. Oltre all'informatica, lo sport e i viaggi sono due elementi essenziali della mia vita: mi piace mantenermi attivo e scoprire nuovi luoghi, culture ed esperienze. Sempre curioso e motivato, cerco di unire la mia passione per l'informatica con uno stile di vita dinamico e avventuroso.</p>
    <p><strong>‎</strong>
    </div>
  </div>
