<div >
  <h2>Competenze Trasversali</h2>
    <h3>Competenze Personali</h3>
    <ul style="list-style-type: none;">
      <li>Ottime competenze comunicative e relazionali acquisite in ambito scolastico e
        lavorativo</li>
      <li>Propensione e dimestichezza al lavoro di gruppo e capacità nella pianificazione
        sviluppate in ambito universitario</li>
      <li>Attitudine alla gestione del tempo e capacità di lavorare sotto stress</li>
      <li>Predisposizione al problem solving</li>
      <li>Attitudine al lavoro in autonomia</li>
    </ul>
    <h3>Conoscenza delle Lingue</h3>
    <ul style="list-style-type: none;">
      <li>Italiano - Madrelingua</li>
      <li>Inglese - B1</li>
    </ul>
  </div>
