<div>
    <h2>Istruzione</h2>
    <div class="titolo">
      <p><strong>Titolo:</strong> Laurea triennale in informatica e Tecnologie per la Produzione di Software</p>
      <p><strong>Città:</strong> Bari</p>
      <p><strong>Istituto:</strong> Università degli Studi di Bari Aldo Moro</p>
    </div>
    <div class="titolo">
      <p><strong>Titolo:</strong> Diploma Liceo Scientifico</p>
      <p><strong>Città:</strong> Trani</p>
      <p><strong>Istituto:</strong> Liceo Scientifico Valdemaro Vecchi</p>
    </div>
  </div>
