
  
h2 {
    color: #ffffff; /* Colore del testo chiaro */
    margin-bottom: 20px;
  }
  
  .titolo {
    margin-bottom: 20px;
  }
  
  .titolo p {
    color: #ffffff; /* Colore del testo chiaro */
    margin: 5px 0;
  }